.footer-container {
  padding: 0 3rem;
  background: $color-beige;

  .region-footer-first,
  .region-footer-second {
    margin: auto;

    @include bp-normal {
      max-width: 960px;
    }
    @include bp-wide {
      max-width: 1140px;
    }
  }
  .region-footer-first {
    padding: 4.5rem 0;
    @include clearfix();

    @include bp-normal {
      padding: 7rem 0;
    }
    
    .block {
      @include bp-normal {
        float: left;
        width: 50%;
        box-sizing: border-box;

        &:last-child {
          padding-left: 10%;
        }
        &:first-child {
          padding-right: 10%;
        }
      }
      @include bp-wide {
        &:last-child {
          padding-left: 15%;
        }
        &:first-child {
          padding-right: 15%;
        }
      }
    }
  }
  .region-footer-second {
    padding: 3rem 0;
    border-top: 2px solid $color-blue-dark;
    @include clearfix();
    
    @include bp-normal {
      padding: 3.5rem 0;
    }   
    
    .block {
      @include bp-normal {
        float: left;
        width: 50%;
      }
    }
  }
}
