.header-container {
  background: white;
  position: relative;
  overflow: hidden;

  @include bp-normal {
    background: $text-color; 
  }

  .icon-logo {
    width: 20rem;
    height: 3rem;
    fill: $text-color;

    @include bp-normal {
      width: 27.5rem;
      height: 4.2rem;
      fill: white;
    }
  }

  .region-header {
    padding: 1.5rem 3rem;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 2fr;
    -ms-grid-columns: 1fr 2fr;

    @include bp-normal {
      position: absolute;
      width: 100%;
      z-index: 10;
      top: 5rem;
      left: 0;
      right: 0;
      padding: 0 3rem;
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 960px;
      padding: 0 1rem;

      > .block:nth-child(1) {
        -ms-grid-column: 1;
      }
      > .block:nth-child(2) {
        -ms-grid-column: 2;
      }
    }
    @include bp-wide {
      max-width: 1140px;
    }
  }

  .region-hero {
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
  }
}
