.layout-sidebar {
  background-color: $color-yellow;
  background: linear-gradient($color-yellow 50%, #e5b335);
  color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 0 5rem;
  box-sizing: border-box;
  z-index: 100;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }

  @include bp-wide {
    display: none;
  }

 .icon-close {
    fill: white;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    @include bp-normal {
      top: 5rem;
      right: 5rem;
    }
  }

  .block:not(nav) {
    margin-bottom: 5rem;
    text-align: center;
  }
}

.overlay-sidebar {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0,0,0,0);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}