/* Base */
html {
  font-size: 56.25%;

  @include bp-normal {
    font-size: 62.5%;
  }
}
body {
  background-color: white;
  font-family: $font-fam-base;
  font-size: $font-size-base;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include bp-normal {
    font-size: $font-size-base;
  }
}
img {
  max-width: 100%;
  height: auto;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
hr {
	width: 50%;
	display: block;
	height: 2px;
	border: none;
	background: white;
	margin: 1em 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-fam-head;
  line-height: $line-height-small;
  font-weight: $font-weight-black;
  margin-bottom: 1rem;
  color: $text-color;
  &:first-child {
    margin-top: 0;
  }
}
h1 {
  font-size: 3.6rem;
  font-family: $font-fam-head;
  line-height: $line-height-small;

  @include bp-normal {
    font-size: $font-size-largest;
  }
}
h1.page-title {
  margin-bottom: 2rem;
  margin-top: 0;
}
p {
  margin: 0 0 2rem 0;
  font-size: $font-size-base;
  line-height: $line-height-large;
}
p:last-child {
  margin: 0;
}
blockquote {
  margin: 0;
}
.text,
.cke_editable {
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.35rem;
  }
  p {
    margin: 0 0 2rem 0;
    font-size: $font-size-base;
    line-height: $line-height-large;
    color: $text-color;
  }
  p:last-child {
    margin: 0;
  }
  a {
    color: $link-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  strong {
    color: $text-color;
  }
  ul, ol {
    margin: 0 0 2rem;
    padding: 0 0 0 3rem;
    font-size: $font-size-base;
    line-height: $line-height-large;
    color: $text-color;
    li {
      list-style-position: outside;
      margin: 0 0 1rem 0;
    }
    li:last-child {
      margin: 0;
    }
  }
  ul {
    li {
      list-style: disc;
    }
  }
  ol {
    li {
      list-style: decimal;
    }
  }
}

/* Forms */
.form-item {
	label {
		display: block;
		margin-bottom: 0.25em;
	}
	.description {
		margin-top: 0.25em;
	}
}
textarea {
  border: 1px solid #ccc;
  font-family: $font-fam-base;
  font-size: $font-size-base;
  padding: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  appearance: none;
  &:focus {
    outline: none;
  }
}
input[type=text],
input[type=password],
input[type=email],
input[type=search] {
  border: 1px solid #ccc;
  font-family: $font-fam-base;
  font-size: $font-size-base;
  padding: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 0;
  appearance: none;

  &:focus {
    outline: none;
  }
}
input[type=submit],
input[type=button] {
	background: $color-blue-dark;
	color: white;
  padding: 0.75em 2em;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  appearance: none;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

::-moz-selection {
  background-color: $color-yellow;
  color: white;
}
::selection {
  background-color: $color-yellow;
  color: white;
}
