/* Colors */
$color-blue-dark: #1b3443;

$color-orange: #ff8b1e;
$color-orange-dark: #a45912;

$color-green: #00d79a;

$color-yellow: #efc94c;
$color-red: #d55342;
$color-beige: #f5f0e9;

$color-grey-light: #f1f1f1;
$color-grey: #dbdbdb;

/* Text Colors */
$text-color: $color-blue-dark;
$link-color: $color-red;
