/core
/vendor
/sites

/.editorconfig
/.csslintrc
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/.ht.router.php
/autoload.php
/update.php
/index.php
/example.gitignore
/web.config
/robots.txt

/modules/contrib
/themes/contrib

.DS_Store
node_modules