@mixin button($bg-color: $color-orange, $color: white) {
  background: $bg-color;
  color: $color;
  border-bottom: 2px solid darken($bg-color, 10%);
  padding: 1.5rem 2.5rem;
  display: inline-block;
  font-weight: $font-weight-medium;
  position: relative;
  top: 0;
  line-height: 1;

  &:hover {
    text-decoration: none;
    
    svg {
      transform: translate3d(5px, 0, 0);
    }
  }

  &:active {
    top: 2px;
    border-bottom-color: transparent;
  }

  svg {
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0 0 1.5rem;
    transform: translate3d(0, 0, 0);
    transition: transform 150ms;
  }

}
