.node--type-page.node--view-mode-full,
.node--type-article.node--view-mode-full {

  .node__content {
    > .field--name-body {

      @include bp-normal {
        margin: auto;
      }
    }
    > .field--name-field-article-author {
      text-transform: uppercase;
      font-weight: $font-weight-light;
      margin-bottom: 3rem;
      text-align: center;
    }

    > .field--name-field-intro {
      font-size: $font-size-large;
      margin-bottom: 3rem;
      color: $text-color;
      font-family: $font-fam-head;
    }

    > .field--name-field-view {
      margin-top: 4.5rem;
      
      @include bp-normal {
        margin-left: -95px;
        margin-right: -95px;
      }      

      @include bp-wide {
        margin-left: -285px;
        margin-right: -285px;
      }
    }
  }
}

.node--type-article.node--view-mode-teaser,
.node--type-page.node--view-mode-teaser {

  border: 1px solid $color-grey;
  padding: 2.5rem; 

  @include clearfix();

  .teaser-label {
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: $font-size-small;
    color: $text-color;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .field--name-field-hero {
    float: left;
    width: 100px;
    margin-right: 1.5rem;

    img {
      display: block;
    }
  }
  .title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $text-color;
    font-family: $font-fam-head;
    display: inline;
    line-height: $line-height-small;
  }
}

.article-response {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $text-color;

  .article-response__text {
    text-transform: uppercase;
  }
}
