/* Landing page */
.landing-grid .landing-grid__item.bundle-guide {

  .grid-item__content {
    height: 100%;
    color: $text-color;

    .label {
      border-bottom: none;
      text-align: center;
      display: block;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
    .intro {
      font-family: $font-fam-head;
      font-weight: $font-weight-bold;
      font-size: 2rem;
      line-height: $line-height-small;
      margin-bottom: 3rem;
      text-align: center;

      @include bp-normal {
        font-size: $font-size-base;
        margin-bottom: 2rem;
      }
      @include bp-wide {
        font-size: 3.2rem;
        margin-bottom: 3rem;
      }
    } 

    .view-frontpage-statements {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }
  }

  .statement-item {

    text-align: center;

    @include bp-normal {

      font-size: $font-size-small;
    }
    @include bp-wide {
      padding: 0 3rem;
      font-size: $font-size-base;
    }

    &:first-child:after {
      content: "- eller -";
      display: block;
      text-align: center;
      font-family: $font-fam-head;
      font-style: italic;
      font-weight: $font-weight-bold;
      padding: 1rem 0 1.25rem;
    }

    a {
      color: $text-color;
      display: inline;
      text-align: center;
      line-height: 2.6rem;
      transition: all 200ms;
      box-shadow: 7px 0 0 0 transparent, -7px 0 0 0 transparent;
      text-decoration: none;
      padding: 0.35rem 0;

      @include bp-normal {
        line-height: 2.3rem;
      }
      @include bp-wide {
        line-height: 2.7rem;
      }

      &:hover {
        background: $color-blue-dark;
        color: white;
        box-shadow: 7px 0 0 0 $color-blue-dark, -7px 0 0 0 $color-blue-dark;
      }
    }
  }
}

.view-footer-statements {
  background: $color-yellow;
  padding: 7rem 3.5rem;
  @include bp-normal {
    padding: 7rem;
  }

    .label {
      border-bottom: none;
      text-align: center;
      display: block;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      margin-bottom: 4rem;
      font-size: 1.8rem;
    }
    .intro {
      font-family: $font-fam-head;
      font-weight: $font-weight-black;
      font-size: 2.5rem;
      line-height: $line-height-small;
      margin-bottom: 3rem;
      text-align: center;

      @include bp-normal {
        margin-bottom: 2rem;
      }
      @include bp-wide {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
    } 

  .statement-item {
    text-align: center;

    @include bp-normal {
      font-size: $font-size-small;
    }
    @include bp-wide {
      font-size: $font-size-base;
    }
  
    &:first-child:after {
      content: "- eller -";
      display: block;
      text-align: center;
      font-family: $font-fam-head;
      font-style: italic;
      font-weight: $font-weight-bold;
      padding: 1rem 0 1.25rem;
    }

    a {
      color: $text-color;
      display: inline;
      text-align: center;
      line-height: 2.6rem;
      transition: all 200ms;
      box-shadow: 7px 0 0 0 transparent, -7px 0 0 0 transparent;
      text-decoration: none;
      padding: 0.35rem 0;

      @include bp-normal {
        line-height: 2.3rem;
      }
      @include bp-wide {
        line-height: 2.7rem;
      }

      &:hover {
        background: $color-blue-dark;
        color: white;
        box-shadow: 7px 0 0 0 $color-blue-dark, -7px 0 0 0 $color-blue-dark;
      }
    }
  }
}