// This file is for general block styling only.

.region-footer-first {

  .block {
    
    &:first-child {
      margin-bottom: 3rem;

      @include bp-normal {
        margin-bottom: 0;
      }
    }

    h2 {
      font-family: $font-fam-head;
      font-size: 2.5rem;
      margin-bottom: 2rem;

      @include bp-normal {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
    }

    p {
      font-size: $font-size-medium;
    }
  }
}

.region-footer-second {
  color: $text-color;

  .block {
    font-size: $font-size-small;
    text-align: center;

    @include bp-normal {
      text-align: left;
    }

    p {
      font-size: $font-size-small;
    }
  }
  .block:first-child {

    img {
      display: block;
      margin: 0 auto .75rem;

      @include bp-narrow {
        display: inline;
        margin: 0;
      }
    }

    @include bp-normal {
      margin-top: -2.2rem;
    }
  }
}
