.view-hero {
  position: relative;
}

.hero {
  @include clearfix();
}

.hero-progressive-image {
  position: relative;

  &.is-loaded {
    .image-style-hero-1600x1080,
    .image-style-hero-1600x800,
    .image-style-hero-1600x675 {
      opacity: 1;
    }
  }

  .image-style-hero-1600x1080,
  .image-style-hero-1600x800,
  .image-style-hero-1600x675 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
    z-index: 2;
  }
  .image-style-hero-40x27,
  .image-style-hero-54x27,
  .image-style-hero-64x27 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(5px);
  }
}

.hero-empty {
  width: 100%;
  max-height: 67.5rem;
  float: left;
}

.paragraph--type--hero.paragraph--view-mode--default,
.paragraph--type--hero-large {
  .hero-progressive-image {
    float: left;
    width: 100%;

    &:after {
      box-shadow: inset 0 100px 100px rgba(0,0,0,0.35);
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  img {
    width: 100%;
  }
}

.paragraph--type--hero.paragraph--view-mode--default  {

  canvas {
    width: 100%;
    max-height: 67.5rem;
    float: left;
  }
}

.paragraph--type--hero-large {

  canvas {
    width: 100%;
    max-height: 90rem;
    float: left;
  }

  .hero__content {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;    
  }

  .hero__content-inner {

    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1.5rem;
    box-sizing: border-box;

    @include bp-normal {
      margin: auto;
      width: 760px;
      top: 40%;
      transform: translateY(-40%);
    }
    @include bp-wide {
      width: 1140px;
      padding-right: 456px;
    }
  }

  .field--name-field-label {
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
 
    @include bp-normal {
      font-size: 1.6rem;
    }
    @include bp-wide {
      font-size: 1.8rem;
    }
  }

  .field--name-field-hero-title {
    font-family: $font-fam-head;
    font-weight: $font-weight-black;
    color: white;
    font-size: 3.5rem;
    line-height: 1em;
    padding: 0;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);

    @include bp-narrow {
      font-size: 4.5rem;
      margin-bottom: 3rem;
    }
    @include bp-normal {
      font-size: 4.5rem;
    }
    @include bp-wide {
      font-size: 8rem;
    }
  }
  .field--name-field-hero-body p {
    color: white;
    font-size: $font-size-base;
    font-family: $font-fam-head;
    line-height: 1.3em;
    text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
    display: none;

    @include bp-narrow {
      display: block;
    }

    @include bp-normal {
      font-size: 2rem;
    }
    @include bp-wide {
      font-size: $font-size-large;
    }
  }

  .button {
    margin-top: 3rem;
    @include button(white);
  }
  
  svg {
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0 0 1.5rem;
    transform: translate3d(0, 0, 0);
    transition: transform 150ms;
  }
}

.page-node-type-test .paragraph--type--hero-large  {
  text-align: center;

  .hero__content-inner  {
    
    @include bp-normal {
      padding: 0;
      max-width: 760px;
    }
  }
}

.page-node-type-view-page .paragraph--type--hero-large  {
  text-align: center;

  .hero__content-inner  {
    
    @include bp-normal {
      padding: 0;
      max-width: 760px;
      top: 60%;
      transform: translateY(-60%);
    }
  }
}
