.landing-grid {

  .landing-grid__item {
    position: relative;
    margin-bottom: 1.5rem;
    @include clearfix();

    &:last-child {
      margin-bottom: 0;
    }

    @include bp-normal {
      margin-bottom: 0;
    }

    a {
      display: block;
      cursor: pointer;
    }

    article,
    .media {
      position: initial;
    }

    img {
      position: relative;
      float: left;
      width: 100%;
    } 

    canvas {
      width: 100%;
    }

    .grid-item__background {
      z-index: 1;
      backface-visibility: hidden;
      position: relative;
      box-shadow: none;
      line-height: 0;
      background: $text-color;

      @include clearfix();

      @include bp-normal {
        transform: scale(1); 
        transition: all 200ms;
        transition-delay: 0
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .grid-item__content {
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      color: white;
      z-index: 11;
      padding: 3rem;

      @include bp-narrow {
        padding: 4rem 5rem;
      }
      @include bp-normal {
        padding: 3rem 4rem;
      }
      @include bp-wide {
        padding: 4rem 5rem;
      }
     
      .bundle {
        color: white;
        text-transform: uppercase;
        text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
        border-bottom: 1px solid white;
        display: inline-block;
        padding-bottom: 1rem;
      }
      h2 {
        color: white;
        margin: 2.5rem 0 1.5rem;
        text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
        font-size: 2.5rem;
        font-family: $font-fam-head;
        font-weight: $font-weight-bold;

        @include bp-narrow {
          font-size: 3.5rem;
        }
        @include bp-normal {
          font-size: 2.5rem;
        }
        @include bp-wide {
          font-size: 3.5rem;
        }
      }
      .field--name-field-intro {
        display: none;
        @include bp-narrow {
          display: block;
        }
      }
    }
  }

  .landing-grid__item:hover {

    .grid-item__background {
       z-index: 10;

      @include bp-normal {
        transform: scale(1.05);
        box-shadow: 0 0 25px rgba(0,0,0, 0.35);
        transition: all 200ms;
        transition-delay: 300ms;
      }
    }
  }

  .bundle-article {

    .field--name-field-article-author {
      line-height: $line-height-base;
      text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
    }
  }

  .bundle-guide {

    .grid-item__background {
      background: $color-yellow;

      &.color-yellow {
        background: $color-yellow;
      }
      &.color-beige {
        background: $color-beige;
      }
    }
  }

  .bundle-test {
     .grid-item__background {
        background: $color-red;
     }
     .grid-item__content {
       height: 100%;
     }
     .test-teaser {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
     }
  }

  .pager {
    text-align: center;
    margin: 3rem 0;
    padding: 0;

    li {
      margin: 0;
    }

    a {
      @include button($color-grey, $text-color);
      min-width: 15rem;
      text-transform: uppercase;
      font-size: $font-size-small;
    }
  }
}