.navigation.menu--main {

  ul {
    margin: 0;
    padding: 0;
  }

  // li {
  //   display: block;
  //   font-weight: $font-weight-black;
  //   font-size: 2.6rem;
  //   margin-bottom: 4rem;
  //   transition: margin 100ms ease-in-out;
  //   text-align: center;

  //   @include bp-normal {
  //     text-align: left;
  //   }

  //   &:hover {
  //     margin-left: 5px;
  //   }
  // }
  // a {
  //   color: white;
  //   text-decoration: none;

  //   &.is-active {
  //     // color: $text-color;
  //   }
  // }

}