/* System Tabs */
.tabs {

	margin: 4rem 0;

  ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $text-color;

    li {
	    display: block;
	    margin: 0;

      @include bp-normal {
	      display: inline-block;
	      margin: 0 5px;
      }

      a {
        color: $text-color;
        display: block;
        padding: 0.5em 1em;
        border: 1px solid $text-color;
        border-bottom: none;
        line-height: 1;
        text-decoration: none;
        transition: all .5s;
      }
      a.is-active {
        background: $text-color;
        color: white;
      }
    }
  }
}
