.video-archive-overlay {
  display: none;
}
.video--archive {

  @include bp-normal {
    .view-content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .video__item {
    margin-bottom: 5rem;
    position: relative;
    @include clearfix();

    @include bp-normal {
      width: 32%;
      margin-right: 2%;

      &:nth-child(3n+5) {
        margin-right: 0;
      }

      &:nth-child(1) {
        width: 49%;
        float: left;
        margin-right: 2%;
      }
      &:nth-child(2) {
        width: 49%;
        float: left;
        margin-right: 0;
      }
    }

    img {
      width: 100%;
    }

    a {
      display: block;
      cursor: pointer;
    }
  }

  .media-video {
    position: relative;
  }

  .grid-item__play {
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    text-align: right;
    padding: 2rem;

    .icon-play {
      width: 2.25rem;
      height: 2.25rem;
      fill: white;
      margin-right: 0.25rem;
      margin-bottom: -.6rem;
      display: inline-block;
    }
    .field--name-field-video-duration {
      font-size: 1.4rem;
      color: white;
      display: inline-block;
    }
  }

  h2 {
    margin: 1.5rem 0;
    font-size: 2.6rem;
    color: $color-red;
    font-weight: $font-weight-bold;

    @include bp-narrow {
      font-size: 3rem;
    }
  }

  .grid-item__description {

  }
}