/* Mixins */
/* Breakpoints */
/* Base */
/* Colors */
/* Text Colors */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* Font Sizes */
/* Line Height */
/* Font weights */
/* Base */
html {
  font-size: 56.25%; }
  @media (min-width: 820px) {
    html {
      font-size: 62.5%; } }

body {
  background-color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
  color: #1b3443;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 820px) {
    body {
      font-size: 1.6rem; } }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  width: 50%;
  display: block;
  height: 2px;
  border: none;
  background: white;
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  line-height: 1.15em;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #1b3443; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 3.6rem;
  font-family: "Playfair Display", serif;
  line-height: 1.15em; }
  @media (min-width: 820px) {
    h1 {
      font-size: 4.5rem; } }

h1.page-title {
  margin-bottom: 2rem;
  margin-top: 0; }

p {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  line-height: 1.75em; }

p:last-child {
  margin: 0; }

blockquote {
  margin: 0; }

.text h2,
.cke_editable h2 {
  font-size: 2.8rem; }

.text h3,
.cke_editable h3 {
  font-size: 2rem; }

.text h4,
.cke_editable h4 {
  font-size: 1.6rem; }

.text h5,
.cke_editable h5 {
  font-size: 1.5rem; }

.text h6,
.cke_editable h6 {
  font-size: 1.35rem; }

.text p,
.cke_editable p {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  line-height: 1.75em;
  color: #1b3443; }

.text p:last-child,
.cke_editable p:last-child {
  margin: 0; }

.text a,
.cke_editable a {
  color: #d55342;
  text-decoration: none; }

.text a:hover,
.cke_editable a:hover {
  text-decoration: underline; }

.text strong,
.cke_editable strong {
  color: #1b3443; }

.text ul, .text ol,
.cke_editable ul,
.cke_editable ol {
  margin: 0 0 2rem;
  padding: 0 0 0 3rem;
  font-size: 1.6rem;
  line-height: 1.75em;
  color: #1b3443; }
  .text ul li, .text ol li,
  .cke_editable ul li,
  .cke_editable ol li {
    list-style-position: outside;
    margin: 0 0 1rem 0; }
  .text ul li:last-child, .text ol li:last-child,
  .cke_editable ul li:last-child,
  .cke_editable ol li:last-child {
    margin: 0; }

.text ul li,
.cke_editable ul li {
  list-style: disc; }

.text ol li,
.cke_editable ol li {
  list-style: decimal; }

/* Forms */
.form-item label {
  display: block;
  margin-bottom: 0.25em; }

.form-item .description {
  margin-top: 0.25em; }

textarea {
  border: 1px solid #ccc;
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
  padding: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  appearance: none; }
  textarea:focus {
    outline: none; }

input[type=text],
input[type=password],
input[type=email],
input[type=search] {
  border: 1px solid #ccc;
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
  padding: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 0;
  appearance: none; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=search]:focus {
    outline: none; }

input[type=submit],
input[type=button] {
  background: #1b3443;
  color: white;
  padding: 0.75em 2em;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  appearance: none; }

::-moz-selection {
  background-color: #efc94c;
  color: white; }

::selection {
  background-color: #efc94c;
  color: white; }

/* Aligning */
.embedded-entity.align-left {
  float: left;
  margin: 0 30px 20px 0;
  max-width: 50%; }

.embedded-entity.align-right {
  float: right;
  margin: 0 0 20px 30px;
  max-width: 50%; }

/* Specfic */
img {
  max-width: 100%; }

.embedded-entity {
  margin-bottom: 30px; }

.embedded-entity div[id*='block'] {
  padding: 30px;
  background: #f1f1f2;
  border: 1px solid #dcdcdc;
  cursor: pointer; }

.embedded-entity > .media {
  border: 1px solid transparent;
  line-height: 0;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto; }

.cke_widget_selected .embedded-entity div[id*='block'],
.cke_widget_selected .embedded-entity > .media {
  border: 1px solid #f04e22; }

/* Video */
.video-embed-field-responsive-video {
  position: relative; }

.video-embed-field-responsive-video:after {
  content: '';
  display: block;
  padding-bottom: 56.25%; }

.video-embed-field-responsive-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0; }
