/* Mixins */
@import "base/mixins/_media-queries";
@import "base/mixins/clearfix";

/* Base */
@import "base/colors";
@import "base/fonts";
@import "base/typography";
@import "base/base";

/* Aligning */
.embedded-entity.align-left {
  float: left;
  margin: 0 30px 20px 0;
  max-width: 50%;
}
.embedded-entity.align-right {
  float: right;
  margin: 0 0 20px 30px;
  max-width: 50%;
}

/* Specfic */
img {
  max-width: 100%;
}
.embedded-entity {
  margin-bottom: 30px;
}
.embedded-entity div[id*='block'] {
  padding: 30px;
  background: #f1f1f2;
  border: 1px solid #f1f1f2;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
.embedded-entity > .media {
  border: 1px solid transparent;
  line-height: 0;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}
.cke_widget_selected .embedded-entity div[id*='block'],
.cke_widget_selected .embedded-entity > .media {
  border: 1px solid #f04e22;
}

/* Video */
.video-embed-field-responsive-video {
  position: relative;
}
.video-embed-field-responsive-video:after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}
.video-embed-field-responsive-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
