{% extends "block--default.html.twig" %}
{% block content %}
  <blockquote class="quote">
    <div class="quote__text">
      {{content.field_quote}}
    </div>
    <div class="quote__source">{{content.field_quote_source}}</div>
  </blockqupte>
{% endblock %}
