.embedded-entity.bundle-basic {

  h3 {
    margin-bottom: 2rem;
  }
  background: $color-beige;

  .inner-content {
    padding: 3rem;
  }
  .color-blue {
    background-color: $color-blue-dark;
    color: white;
    h3, p, strong {
      color: white;
    }
  }
  .color-red {
    background-color: $color-red;
    color: white;
    h3, p, strong {
      color: white;
    }
  }

  &.align-left {
    @include bp-normal {
      float: left;
      width: calc(50% + 95px);
      margin: .25rem 2rem 1rem -95px;
    }
  }
  &.align-right {
    @include bp-normal {
      float: right;
      width: calc(50% + 95px);
      margin: 0 -95px 1rem 2rem;
    }
  }
}