/* Font Sizes */
$font-size-small: 1.3rem;
$font-size-medium: 1.5rem;
$font-size-base: 1.6rem;
$font-size-large: 2rem;
$font-size-larger: 2.5rem;
$font-size-largest: 4.5rem;

/* Line Height */
$line-height-small: 1.15em;
$line-height-medium: 1.35em;
$line-height-base: 1.5em;
$line-height-large: 1.75em;

/* Font weights */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
